header
   .navbar
      .navbar_links
        img.navbar__image(data-bind="attr: { src: companyHeaderLogo }, click: function () { navigate('home') }")
        .navbar__link(data-bind="click: function () { navigate('home') }, \
               css: {'navbar__link--selected': (selectedPage() == 'home')}") home
        .navbar__link(data-bind=" click: function () { navigate('about') }, \
               css: {'navbar__link--selected': (selectedPage() == 'about')}") about
        .navbar__link(data-bind=" click: function () { navigate('portfolio') }, \
               css: {'navbar__link--selected': (selectedPage() == 'portfolio')}") portfolio
        .navbar__link(data-bind=" click: function () { navigate('contact') }, \
               css: {'navbar__link--selected': (selectedPage() == 'contact')}") contact

.page(data-bind="css: {'page-home': activeUrl() == '/home'}")
   .page-content(data-bind="child: 'main'")
