header
   .navbar
      .navbar_links
        img.navbar__image(data-bind="attr: { src: companyHeaderLogo }, click: function () { navigate('home') }")
        img.nav_image(data-bind="attr: { src: homeImage }, click: function () { navigate('home') }")
        img.nav_image(data-bind="attr: { src: aboutImage }, click: function () { navigate('about') }")
        img.nav_image(data-bind="attr: { src: portfolioImage }, click: function () { navigate('portfolio') }")
        img.nav_image(data-bind="attr: { src: contactImage }, click: function () { navigate('contact') }")
        .navbar__link(data-bind="click: function () { navigate('home') }, \
               css: {'navbar__link--selected': (selectedPage() == 'home')}") home
        .navbar__link(data-bind=" click: function () { navigate('about') }, \
               css: {'navbar__link--selected': (selectedPage() == 'about')}") who
        .navbar__link(data-bind=" click: function () { navigate('portfolio') }, \
               css: {'navbar__link--selected': (selectedPage() == 'portfolio')}") Work
        .navbar__link(data-bind=" click: function () { navigate('contact') }, \
               css: {'navbar__link--selected': (selectedPage() == 'contact')}") now
   <!-- ko if: subnavLinks().length != 0-->
   .subnav
      a.subnav__back-btn(data-bind="text: subnavBackBtnText, attr: {href: subnavBackBtnLink} ")
      .subnav__links(data-bind="foreach: subnavLinks")
         a.subnav__link(data-bind="text: $data.name, attr: {href: $data.link}, \
               css: {'subnav__link--selected': ($parent.activeUrl() == $data.link)}")
   <!-- /ko -->

.page(data-bind="css: {'page-home': activeUrl() == '/home'}")
   .page-content(data-bind="child: 'main'")
