retina-icon-chat-x = 0
retina-icon-chat-y = 0
retina-icon-chat-width = 16px
retina-icon-chat-height = 16px
retina-icon-chat = retina-icon-chat-x retina-icon-chat-y retina-icon-chat-width retina-icon-chat-height
retina-icon-down-arrow-x = 0
retina-icon-down-arrow-y = -18px
retina-icon-down-arrow-width = 31.5px
retina-icon-down-arrow-height = 13.5px
retina-icon-down-arrow = retina-icon-down-arrow-x retina-icon-down-arrow-y retina-icon-down-arrow-width retina-icon-down-arrow-height
retina-icon-facebook-x = 0
retina-icon-facebook-y = -33.5px
retina-icon-facebook-width = 18px
retina-icon-facebook-height = 18px
retina-icon-facebook = retina-icon-facebook-x retina-icon-facebook-y retina-icon-facebook-width retina-icon-facebook-height
retina-icon-globe-x = 0
retina-icon-globe-y = -53.5px
retina-icon-globe-width = 16px
retina-icon-globe-height = 16px
retina-icon-globe = retina-icon-globe-x retina-icon-globe-y retina-icon-globe-width retina-icon-globe-height
retina-icon-instagram-x = 0
retina-icon-instagram-y = -71.5px
retina-icon-instagram-width = 18px
retina-icon-instagram-height = 18px
retina-icon-instagram = retina-icon-instagram-x retina-icon-instagram-y retina-icon-instagram-width retina-icon-instagram-height
retina-icon-left-arrow-x = 0
retina-icon-left-arrow-y = -91.5px
retina-icon-left-arrow-width = 26px
retina-icon-left-arrow-height = 60px
retina-icon-left-arrow = retina-icon-left-arrow-x retina-icon-left-arrow-y retina-icon-left-arrow-width retina-icon-left-arrow-height
retina-icon-phone-x = 0
retina-icon-phone-y = -153.5px
retina-icon-phone-width = 6.5px
retina-icon-phone-height = 6.5px
retina-icon-phone = retina-icon-phone-x retina-icon-phone-y retina-icon-phone-width retina-icon-phone-height
retina-icon-right-arrow-x = 0
retina-icon-right-arrow-y = -162px
retina-icon-right-arrow-width = 26px
retina-icon-right-arrow-height = 60px
retina-icon-right-arrow = retina-icon-right-arrow-x retina-icon-right-arrow-y retina-icon-right-arrow-width retina-icon-right-arrow-height
retina-icon-search-x = 0
retina-icon-search-y = -224px
retina-icon-search-width = 16px
retina-icon-search-height = 16px
retina-icon-search = retina-icon-search-x retina-icon-search-y retina-icon-search-width retina-icon-search-height
retina-icon-twitter-x = 0
retina-icon-twitter-y = -242px
retina-icon-twitter-width = 18px
retina-icon-twitter-height = 18px
retina-icon-twitter = retina-icon-twitter-x retina-icon-twitter-y retina-icon-twitter-width retina-icon-twitter-height

retina-sprite-image()
    background-image url('/images/spritesheet@2x.png')
retina-sprite-size()
    background-size 31.5px 260px
retina-sprite-position($sprite)
    background-position $sprite[0] $sprite[1]
retina-sprite-width($sprite)
    width $sprite[2]
retina-sprite-height($sprite)
    height $sprite[3]
retina-sprite($sprite)
    retina-sprite-image()
    retina-sprite-size()
    retina-sprite-position($sprite)
    retina-sprite-width($sprite)
    retina-sprite-height($sprite)
