icon-chat-x = 0
icon-chat-y = 0
icon-chat-width = 16px
icon-chat-height = 16px
icon-chat = icon-chat-x icon-chat-y icon-chat-width icon-chat-height
icon-down-arrow-x = 0
icon-down-arrow-y = -18px
icon-down-arrow-width = 32px
icon-down-arrow-height = 14px
icon-down-arrow = icon-down-arrow-x icon-down-arrow-y icon-down-arrow-width icon-down-arrow-height
icon-facebook-x = 0
icon-facebook-y = -34px
icon-facebook-width = 18px
icon-facebook-height = 18px
icon-facebook = icon-facebook-x icon-facebook-y icon-facebook-width icon-facebook-height
icon-globe-x = 0
icon-globe-y = -54px
icon-globe-width = 16px
icon-globe-height = 16px
icon-globe = icon-globe-x icon-globe-y icon-globe-width icon-globe-height
icon-instagram-x = 0
icon-instagram-y = -72px
icon-instagram-width = 18px
icon-instagram-height = 18px
icon-instagram = icon-instagram-x icon-instagram-y icon-instagram-width icon-instagram-height
icon-left-arrow-x = 0
icon-left-arrow-y = -92px
icon-left-arrow-width = 26px
icon-left-arrow-height = 60px
icon-left-arrow = icon-left-arrow-x icon-left-arrow-y icon-left-arrow-width icon-left-arrow-height
icon-phone-x = 0
icon-phone-y = -154px
icon-phone-width = 7px
icon-phone-height = 7px
icon-phone = icon-phone-x icon-phone-y icon-phone-width icon-phone-height
icon-right-arrow-x = 0
icon-right-arrow-y = -163px
icon-right-arrow-width = 26px
icon-right-arrow-height = 60px
icon-right-arrow = icon-right-arrow-x icon-right-arrow-y icon-right-arrow-width icon-right-arrow-height
icon-search-x = 0
icon-search-y = -225px
icon-search-width = 16px
icon-search-height = 16px
icon-search = icon-search-x icon-search-y icon-search-width icon-search-height
icon-twitter-x = 0
icon-twitter-y = -243px
icon-twitter-width = 18px
icon-twitter-height = 18px
icon-twitter = icon-twitter-x icon-twitter-y icon-twitter-width icon-twitter-height

sprite-image()
    background-image url('/images/spritesheet.png')
sprite-position($sprite)
    background-position $sprite[0] $sprite[1]
sprite-width($sprite)
    width $sprite[2]
sprite-height($sprite)
    height $sprite[3]
sprite($sprite)
    sprite-position($sprite)
    sprite-width($sprite)
    sprite-height($sprite)