.home-page
    background-color white

.home__panel
    position relative
    height 831px
    width 100%
    background-size cover
    background-repeat no-repeat
    background-position fixed
    background-color #282C37
