.home-page
    background-color white
    overflow hidden

.home__panel
    height 600px
    width 100%
    background-repeat no-repeat
    background-position center
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
    background-size cover
    background-color white

.home__panel-header
    position relative
    width 100%
    font-primary-ultra-light-custom(44px)
    line-height 44px
    letter-spacing 11px
    text-transform uppercase
    text-align center
    top 35%
    color white

.home__panel-subheader
    position relative
    width 50%
    margin auto 25%
    line-height 23px
    text-align center
    font-style italic
    color white
    top 45%
    font-primary-medium-custom(20px)

.info__panel-content
    float left
    position relative
    width 50%
    height 100%
    background rgba(34,34,34,0.75)

.info__panel-header
    font-primary-ultra-light-custom(22px)
    line-height 22px
    letter-spacing 5.5px
    text-transform uppercase
    text-align left
    margin 80px 20% auto 10%
    width 70%
    color white
    text-shadow 0 0 2px black

.info__panel-subheader
    font-primary-medium-custom(22px)
    line-height 22px
    text-align left
    margin 80px 20% auto 10%
    color white
    text-shadow 0 0 3px gray
    width 70%
