.home-page
    .home__panel(data-bind="style: { 'backgroundImage': 'url(' + companyHeroImage() + ')' }")
        .home__panel-header(data-bind="text: companyHeroHeader")
        .home__panel-subheader(data-bind="text: companyHeroSubHeader")
        .home__arrow(data-bind="click: function () { scrollDownYo() }")
            span.sprite.icon-down-arrow()
    #second.process__panel
        .process__panel-header(data-bind="text: processHeader")
        .process__panel-sections(data-bind="foreach: processSections")
            .process__panel-section
                .process__panel-image-wrap
                    img.process__panel-image(data-bind="attr: { src: image }")
                .process__panel-title(data-bind="text: title")
                .process__panel-description(data-bind="text: description")
    .info__panel(data-bind="style: { 'backgroundImage': 'url(' + infoBackgroundImage() + ')' }")
        .info__panel-content-sections
            .info__panel-content-left
                .info__panel-header(data-bind="text: studentHeader")
                .info__panel-subheader(data-bind="text: studentDesc")
                .info__panel-button(data-bind="text: studentButtonLabel, attr: { href: '/contact/students' }")
            .info__panel-content-right
                .info__panel-header(data-bind="text: busHeader")
                .info__panel-subheader(data-bind="text: businessDesc")
                .info__panel-button(data-bind="text: businessButtonLabel, attr: { href: '/contact/businesses' }")
    .partners__panel
        .logo__banner(data-bind="foreach: logoList")
            .logo_item(data-bind="style: { 'backgroundImage': 'url(' + image + ')' }")
