.home-page
    .home__panel(data-bind="style: { 'backgroundImage': 'url(' + companyHeroImage() + ')' }")
        .home__panel-header(data-bind="text: companyHeroHeader")
        .home__panel-subheader(data-bind="text: companyHeroSubHeader")
        .home__arrow(data-bind="click: function () { scrollDownYo() }")
            span.sprite.icon-down-arrow()
    #second.home__panel(data-bind="style: { 'backgroundImage': 'url(' + backgroundImage() + ')' }")
        .info__panel-content
            .info__panel-header(data-bind="text: infoHeader")
            .info__panel-subheader(data-bind="text: infoSubHeader")
            .info__panel-subheader(data-bind="text: infoSubHeader2")
        .info__panel-content
            .info__panel-image(data-bind="style: { 'backgroundImage': 'url(' + centerImage() + ')' }")
            .info__panel-subheader(data-bind="text: specDesc")
    .partners__panel
        .partner__panel-header(data-bind="text: partnersHeader")
        .logo__banner(data-bind="foreach: logoList")
            .logo_item(data-bind="style: { 'backgroundImage': 'url(' + image + ')' }")
    .more__panel
        .more__panel-content(data-bind="style: { 'backgroundImage': 'url(' + learnImage() + ')' }")
            .more__panel-header(data-bind="text: busHeader")
            .more__panel-header(data-bind="text: studentHeader")
        .more__panel-content
            .more__panel-subcontent
                .more__panel-title(data-bind="text: businessTitle")
                .more__panel-desc(data-bind="text: businessDesc")
                .more__panel-link(data-bind="text: 'Get Started.'")
            .more__panel-subcontent(data-bind="style: { 'backgroundColor': 'white' }")
                .more__panel-title(data-bind="text: studentTitle")
                .more__panel-desc(data-bind="text: studentDesc")
                .more__panel-link(data-bind="text: 'Join our team today.'")
