.home-page
    .home__panel(data-bind="style: { 'backgroundImage': 'url(' + companyHeroImage() + ')' }")
        .home__panel-header(data-bind="text: companyHeroHeader")
        .home__panel-subheader(data-bind="text: companyHeroSubHeader")
    .home__panel(data-bind="style: { 'backgroundImage': 'url(' + backgroundImage() + ')' }")
        .info__panel-content
            .info__panel-header(data-bind="text: infoHeader")
            .info__panel-subheader(data-bind="text: infoSubHeader")
            .info__panel-subheader(data-bind="text: infoSubHeader")
        .info__panel-content
    .home__panel
    .home__panel
