.portfolio-page
    background-color #24AAFA
    overflow hidden

.portfolio-panel
    width 100%

.portfolio-panel__header
    width 100%
    font-primary-ultra-light-custom(53px)
    margin 180px auto auto auto
    color white
    line-height 53px
    text-align center

.portfolio__panel-card
    margin 30px 5%
    height 300px
    width 90%

.portfolio__panel-left__content
    float left
    width 30% - 1px
    height 100%
    border-right 1px solid white
    display flex
    justify-content center
    flex-direction column


.portfolio__panel-image
    width 70%
    height auto
    margin auto 15%

.portfolio__panel-subheader
    width 100%
    margin auto
    text-align center
    font-primary-medium-custom(22px)
    line-height 22px
    color white

.portfolio__panel-right__content
    float left
    width 70%
    height 100%
    display flex
    justify-content center

.portfolio__panel-text
    margin auto 10%
    width 90%
    font-primary-regular-custom(16px)
    line-height 24px
    color white
