.portfolio-page
    background-color #2E323A
    background-image linear-gradient(0deg, #3CD3AD 0%, #0B8BAD 100%)
    overflow hidden

.portfolio__panel
    width 100%
    height 100vh

.portfolio__panel-content
    position relative
    height 100%
    width 100%

.portfolio__panel-arrow
    position fixed
    bottom 0
    z-index 50000
    width 100%
    height 10%
    display flex
    justify-content center
    align-items center

.clickable
    cursor pointer

.portfolio__panel-demo
    width 40%
    float left
    height 100%
    display flex
    align-items center
    justify-content center
    flex-direction column

.portfolio__panel-image__container
    height auto
    width 90%

.portfolio__panel-text
    width 60%
    float left
    height 100%
    display flex
    align-items center
    justify-content center
    flex-direction column

.portfolio__panel-text__header
    width 100%
    font-primary-regular-custom(44px)
    color white
    line-height 44px
    margin 0px auto 50px auto
    text-align center

.portfolio__panel-text__description
    width 60%
    font-primary-light-custom(16px)
    color white
    line-height 24px
    margin auto 20%

.app__badge
    margin 20px 20%

.spacer
    width 100%

//
// .portfolio-panel__header
//     width 100%
//     font-primary-ultra-light-custom(53px)
//     margin 180px auto auto auto
//     color white
//     line-height 53px
//     text-align center
//
// .portfolio__panel-card
//     margin 50px auto !important
//     /*margin-left 50px*/
//     height 300px /*this needs to be dynamically sized.*/
//     width 90%
//     background-color #2988bc !important
//     /*background #fff*/
//     border-radius 2px
//     display bLock
//     margin 1rem
//     box-shadow 0 10px 14px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24)
//     transition all 0.2s ease-in-out
//
// .portfolio__panel-card:hover
//     box-shadow 0 25px 35px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23)
//
// .portfolio__panel-left__content
//     float left
//     width 30% - 2px
//     height 100%
//     border-right 2px solid white
//     display flex
//     background-color white !important
//     justify-content center
//     flex-direction column
//
//
// .portfolio__panel-image
//     width 60%
//     height auto
//     margin auto 20%
//
// .portfolio__panel-subheader
//     width 80%
//     margin auto
//     text-align center
//     font-primary-regular-custom(22px)
//     line-height 22px
//     color white
//
// .portfolio__panel-right__content
//     float left
//     width 70%
//     height 100%
//     display flex
//     justify-content center
//     flex-direction column
//
// .portfolio__panel-text
//     margin auto 10%
//     width 80%
//     font-primary-light-custom(16px)
//     line-height 24px
//     color white
