@require "mixins.css.styl"
@require "sprites/sprites.css.styl"
@require "sprites/spritesheet.css.styl"

/*------------------------------------*\
   Base Layout
\*------------------------------------*/
html
   height 100%
   width 100%

body
   margin 0
   padding 0
   width 100%
   background-color white
   overflow scroll
   // no-select()

a
   cursor pointer

input:focus
   outline none
   border 1px solid gs-1-color

/*------------------------------------*\
   Navbar
\*------------------------------------*/
.navbar
    position fixed
    top contact-toolbar-height
    height 50px
    width 100%
    z-index 10000
    padding-top 15px
    padding-bottom 15px
    color #D9E1E8
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased

.navbar-scrolled
    background-color white
    color #2E323A
    box-shadow 0px 1px 10px black

.navbar__image
   display inline-block
   margin-left 15px
   height 50px
   width auto
   cursor pointer

.nav_image
    display none
    margin auto
    height auto
    width 21px
    min-width 15px
    cursor pointer

.navbar_links
    height 100%
    width 100%
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    row-direction column

.navbar__link
    min-width 60px
    margin auto 5%
    letter-spacing .2em
    line-height 50px
    text-align center
    text-transform uppercase
    font-primary-regular-custom(14px)
    cursor pointer

.navbar__link--selected
    color #24AAFA

.navbar__information-search
    display inline-block
    width 16px
    height 16px
    line-height navbar-height
    text-align center
    color medium-gray-color

/*------------------------------------*\
   Page Content
\*------------------------------------*/
.page
    position absolute
    width 100%

.page-content
    width 100%
    overflow-x hidden
    overflow-y scroll
    background-color gs-0-color

/*------------------------------------*\
   Sub Navbar
\*------------------------------------*/

.subnav
   position fixed
   top 80px
   width 100%
   height 32px
   z-index 9999
   background-color white
   opacity .45
   box-shadow inset 0px 2px 2px gray

.subnav__back-btn
   position absolute
   top 0
   display inline-block
   height 32px
   line-height 32px
   margin-left 20px
   text-transform uppercase
   text-decoration none
   color #DDDDDD
   font-primary-ultra-light-custom(12px)

.subnav__links
   position relative
   display flex
   height 32px
   width 63%
   justify-content space-around
   left 0
   right 0
   margin 0 auto

.subnav__link
   display inline-block
   height 32px
   line-height 32px
   text-transform uppercase
   text-decoration none
   color black
   font-primary-light-custom(12px)

.subnav__link--selected
   color #24AAFA

/*------------------------------------*\
    Moblie View
\*------------------------------------*/
@media screen and (max-width: 883px)
    .navbar__link
        display none
    .nav_image
        display inline-block
    .navbar_image
        width auto
    .navbar-scrolled
        background-color black
        color #2E323A
        box-shadow 0px 1px 10px black
