@require "mixins.css.styl"
@require "sprites/sprites.css.styl"
@require "sprites/spritesheet.css.styl"

/*------------------------------------*\
   Base Layout
\*------------------------------------*/
html
   height 100%
   width 100%

body
   margin 0
   padding 0
   width 100%
   background-color white
   overflow scroll
   // no-select()

a
   cursor pointer

input:focus
   outline none
   border 1px solid gs-1-color

/*------------------------------------*\
   Navbar
\*------------------------------------*/
.navbar
    position fixed
    top contact-toolbar-height
    height 50px
    width 100%
    z-index 10000
    padding-top 15px
    padding-bottom 15px
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased

.navbar-scrolled
    background-color black

.navbar__image
   display inline-block
   margin-left 15px
   height 50px
   width auto
   cursor pointer

.navbar_links
    height 100%
    width 100%
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    row-direction column

.navbar__link
    min-width 75px
    margin auto 50px
    letter-spacing .2em
    line-height 50px
    text-align center
    text-transform uppercase
    font-gotham-medium-custom(14px)
    cursor pointer
    color #D9E1E8

.navbar__link--selected
    color hsla(0, 0%, 100%, .2)

.navbar__information-search
    display inline-block
    width 16px
    height 16px
    line-height navbar-height
    text-align center
    color medium-gray-color

/*------------------------------------*\
   Page Content
\*------------------------------------*/
.page
    position absolute
    width 100%

.page-content
    width 100%
    overflow-x hidden
    overflow-y scroll
    background-color gs-0-color

/*------------------------------------*\
    Moblie View
\*------------------------------------*/
