/*------------------------------------*\
   Helpers
\*------------------------------------*/
border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments

transition()
   -webkit-transition arguments
   -moz-transition arguments
   transition arguments

box-shadow()
   -webkit-box-shadow arguments
   -moz-box-shadow arguments
   box-shadow arguments

no-select()
   -webkit-touch-callout none
   -webkit-user-select none
   -khtml-user-select none
   -moz-user-select none
   -ms-user-select none
   user-select none

/*------------------------------------*\
   Layout Sizes
\*------------------------------------*/


/*------------------------------------*\
   Colors
\*------------------------------------*/
almost-black = #2d3545
light-blue-gray-color = #8692A8
medium-light-blue-gray-color = #495062
medium-blue-gray-color = #414858
medium-dark-blue-gray-color = #3a4150

light-teal-color = #69EBCE
medium-teal-color = #57D6BA
dark-teal-color = #20BAB1

electric-blue = #48B8F7
medium-electric-blue = #1A9CE4
dark-electric-blue = #0874C8

gray-blue-color = #494f5e
light-tan-color = #DAD8D6
light-gray-color = #B4B2AF
medium-gray-color = #66665C
background-gray = #F6F5F4

title-gray = #4A4A4A
text-gray = #9B9B9B

light-red-color = #ed5858
dark-red-color = #d03b3b

mustard-yellow-color = #f6d780
dark-yellow-color = #ebc048

yellow-highlight-color = #ffe892
blue-highlight-color = #48b8f7

// Grayscale: darkest to lightest
gs-0-color = #9b9ba3
gs-1-color = #c1c1c8
gs-2-color = #dcdce2 // Main border color.
gs-3-color = #e3e3e7
gs-4-color = #eeeef3
gs-5-color = #f4f4f8
gs-6-color = #f9f9fb


/*------------------------------------*\
   Font Sizes
\*------------------------------------*/

// Primary, Medium Font - AvenirNext
font-primary-medium-large()
   font-size 18px
   font-family "AvenirNext-Medium"

font-primary-medium-base()
   font-size 12px
   font-family "AvenirNext-Medium"

font-primary-medium-small()
   font-size 9px
   font-family "AvenirNext-Medium"

font-primary-medium-custom(n)
   font-size n
   font-family "AvenirNext-Medium"

// Primary, Demi-Bold Font - AvenirNext-DemiBold
font-primary-demi-bold-large()
   font-size 18px
   font-family "AvenirNext-DemiBold"

font-primary-demi-bold-base()
   font-size 12px
   font-family "AvenirNext-DemiBold"

font-primary-demi-bold-small()
   font-size 9px
   font-family "AvenirNext-DemiBold"

font-primary-demi-bold-custom(n)
   font-size n
   font-family "AvenirNext-DemiBold"

font-primary-ultra-light-custom(n)
   font-size n
   font-family "AvenirNext-UltraLight"

font-primary-regular-custom(n)
   font-size n
   font-family "AvenirNext-Regular"

font-gotham-black-custom(n)
    font-size n
    font-family "Gotham-Black"

font-gotham-bold-custom(n)
    font-size n
    font-family "Gotham-Bold"

font-gotham-book-custom(n)
    font-size n
    font-family "Gotham-Book"

font-gotham-light-custom(n)
    font-size n
    font-family "Gotham-Light"

font-gotham-medium-custom(n)
    font-size n
    font-family "Gotham-Medium"
