@require "../mixins.css.styl"

panel-width = 1200px
slides-height = 745px

.slides
   display flex
   height slides-height
   width 100%
   justify-content space-between

.slider
   position relative
   display inline-block
   height 550px
   width 1100px
   margin 100px auto 0 auto

.slider-flex
   display flex
   height 100%
   width 100%
   justify-content space-between
   left 0
   right 0
   margin 0 auto

.slider-btn
   display inline-block
   margin 200px auto 0 auto

   .icon-left-arrow,
   .icon-right-arrow
      cursor pointer

.slide
   display inline-block
   height slides-height - 110px
   width 281px

.slide__image-container
   display block
   height 280px
   width 100%

.slide-image
   height 100%
   width 280px
   margin 0 auto
   border-radius 50%

.slide__text-container
   display block
   height ((slides-height - 110px) / 2) - 64px
   width 100%
   padding-top 64px
   text-align left

.slide__text-title
   color title-gray
   font-primary-regular-custom(20px)

.slide__text-description
   height 150px
   width 100%
   margin-top 35px
   line-height 25px
   color text-gray
   font-primary-regular-custom(14px)
