.businesses-page
    .businesses-panel
        .contact-form
            .contact-header(data-bind="text: panelHeader")
            form(action="https://formspree.io/team@calibercontracting.co", method="POST")
                input.contact-input(type="text", placeholder="Name", name="name")
                input.contact-input(type="text", placeholder="Company", name="company")
                input.contact-input(type="email", placeholder="Email", name="_replyto")
                input.contact-input(type="phone", placeholder="Phone", name="phone")
                input.contact-input(type="text", placeholder="Project Type, i.e. iOS or Web", name="projectype")
                input.contact-input(type="text", placeholder="Budget", name="budget")
                input.contact-input(type="text", placeholder="Description", name="description")
                input.contact-submit(type="submit", value="Send")
